// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #111;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit
}

a {
  color: #111;
  text-decoration: underline
}

.clear {
  overflow: hidden
}

.social a {
  margin-right: 3px;
  display: inline-block
}
