// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// front end

body {
  background: #fdfdfd;
}

.navbar {
  border-radius: 0;
}

.social a {
  display: inline-block;
}

footer {
  .container {
    margin-top: 20px;
    padding: 20px 15px;
    border-top: 1px solid #e1e1e1;
  }
}
